<!-- This html template will start off all of your other html files/pages -->

<!DOCTYPE html>
<html>
  <head>
    <!-- the page title will be a varible passed to the render_template() function for each page separately-->
    <title> {{ page_title }}</title>
  	<meta charset="utf-8"/>
    <!-- include the css from the file static/style.css -->
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
 <!-- {{ url_for('static', filename='styles.css') }} -->
  <!-- this headline will appear on all pages. -->
  <header>
    <nav class="nav_bar">
      <a class="active" href="index.html">Index Page</a>
      <a href="first-page.html">Firt Page</a>
      <a href="second-page.html">Second Page</a>
    </nav>
    <div class="banner">
      <h1> All about CODE </h1> 
      <h3> A really great place. </h3>
    </div>
  </header>


  <!-- This is the part which will be different on each page. 
       see first-page.html for an example of using it -->
  <main>
    {% block content%}
    {% endblock %}
  </main>
  <footer>
    <h3> Made with love </h3>
  </footer>
  </body>