header {
    margin: 0 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 0px;
}


footer{
    margin-top: 5rem;
    text-align: center;
}

main {
    margin-left: 10rem;
}
.nav_bar {
    background-color: black;
    overflow: hidden;
    width: 100%;
}
.nav_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav_bar a:hover {
    background-color: #ddd;
    color: black;
}
.nav_bar a.active {
    background-color: #4CAF50;
    color: white;
}

.banner{
    margin-top: 2rem;
    color: blueviolet;
    margin-bottom: 1rem;
}
